.App {
  background-color: #f7f7f7;
}
.addbtn {
  /* flex: auto; */
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2%;
}
.Tablehead {
  font-weight: 900;
  font-family: "Open Sans Condensed";
  font-size: 30px;
  color: #535353;
}
/* .navbar {
  background-color: #6774df !important;
  font-family: "Open Sans Condensed";
  font-size: 25px;
  font-weight: 500;
}
.navlink {
  color: white !important;
} */

.sm-table {
  width: 75% !important;
  overflow-y: scroll;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 14px 28px rgba(134, 134, 134, 0.25),
  0 10px 10px rgba(134, 134, 134, 0.25);
transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
ion-icon {
  font-size: 20px;
  margin-top: -5px;
  margin-bottom: auto;
}

.btnTable {
  height: 30px;
  background-color: #6774df !important;
  color: white !important;
}
.btnTable:hover {
  background-color: white !important;
  color: #6774df !important;
}

Table {
  width: 20%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.modalMessage {
  margin-top: 2%;
  margin-left: 2%;
}

.modalPanel {
  color: white !important;
  display: flex !important;
  text-align: center;
}
.modalPanelImg {
  width: 10%;
}

.loginForm {
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.loginHeader {
  font-family: "Open Sans Condensed";
  color: #494949;
  padding-bottom: 10%;
  font-size: 40px;
  font-weight: 600;
}

.colForm {
  background-color: #f7f7f7;
  height: 700px !important;
}
@media only screen and (max-width: 800px) {
  .loginCol {
    display: none;
  }
  .colForm {
    width: 100% !important;
    flex: 1;
  }
}
.modal-title {
  font-weight: 600 !important;
}
.addOptionBtn {
  height: 30px !important;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 600px) {
  .contain {
    width: 90% !important;
  }

  .instructions {
    padding-top: 5% !important;
  }
}
.content {
  margin: auto;
  width: 120%;
}
.QuizQuestion {
  font-size: 20px;
  color: #494949;
}

.quizbtn {
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
  font-size: larger !important;
  font-weight: 800 !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
.centered {
  display: flex;
  margin-top: 6%;
}

.instructions {
  font-size: 20px !important;
  font-family: "Open Sans Condensed";
  font-weight: 600;
}

.QuizContent {
  color: rgba(0, 0, 0, 0.75);
}

.contain {
  overflow: scroll;
  background-color: white;
  display: flex;
  width: 45%;
  height: 80%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #fff;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 14px 28px rgba(134, 134, 134, 0.25),
    0 10px 10px rgba(134, 134, 134, 0.25);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 5%;
  margin-top: auto;
  margin-bottom: auto;
}
.optionbtn {
  text-align: left !important;
  width: 70%;
  margin-top: 2%;
  font-weight: bold !important;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}



.Quizheader {
  font-size: 40px;
  color: #494949;
}
.btnGroup {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d8d7f0;
  color: white;
  font-family: "Open Sans Condensed";
  font-weight: 600;
  height: 100%;
}
.serialNo{
  text-align: end !important;
  font-family: "Open Sans Condensed" !important;
  color: #6e6e6e !important;
  font-size: 40px !important;
  font-weight: 600 !important;
  margin-top: -15%;
}

.normalFont {
  font-family: "Open Sans Condensed";
  color: #6e6e6e;
  font-size: 20px;
  font-weight: 600;
}

.btn-outline-primary:hover {
  background-color: #6774df !important;
  color:white !important;
}
.btn-outline-primary{
  color:#6774df !important;
}

.customNavbar{
  background-color:#6774df !important
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #6774df !important;
  font-family: "Open Sans Condensed" !important;
  font-weight: bold !important;
}
.LoginImage {
  height: 700px !important;
}

.btn-primary:active {
  background-color: #e6e5f0 !important;
  font-family: "Open Sans Condensed" !important;
  font-weight: bold !important;
  color: #6774df !important;
}

#link:hover {
  color: #5963cd !important;
}

#link {
  color: #6774df !important;
  font-family: "Open Sans Condensed" !important;
  text-decoration-line: none !important;
  font-weight: bold !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
