.App {
  background-color: #F7F7F7;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.loginForm{
  width: 80%;
  margin-left: 5%;
  margin-top: 10%;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.loginHeader{
font-family: "Open Sans Condensed";
color: #494949;
padding-bottom: 10%;
font-size: 40px;
font-weight: 600;
}

.colForm{
  background-color: #F7F7F7;
  height: 700px  !important;
}
@media only screen and (max-width: 800px) {
  .loginCol {
      display: none;
  }
  .colForm{
    width: 100% !important;
   
    flex: 1;
  }
}


.normalFont{
  font-family: "Open Sans Condensed";
  color: #6E6E6E;
  font-size: 20px;
  font-weight: 600;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #6774DF !important;
  font-family: "Open Sans Condensed" !important;
  font-weight: bold !important;
}
.LoginImage{
  height: 700px !important;
}

 .btn-primary:active {
  background-color: #E6E5F0 !important;
  font-family: "Open Sans Condensed" !important;
  font-weight: bold !important;
  color:#6774DF !important;
}

#link:hover{
  color: #5963CD !important;
}

#link{
  color: #6774DF !important;
  font-family: "Open Sans Condensed" !important;
  text-decoration-line: none !important;
  font-weight: bold !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
